/* Body decoration */

body {
    background-color: #502832;
    margin: 0;
    padding: 0;
}

/* Header, same as index.html */

body section#topHead div#headbar {
    background-color: black;
    width: 100%;
    height: 105px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.55);
}

nav#headNav {
    width: 100%;
    height: 125px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

div#headbar nav#headNav a.navLinks {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}



div#headbar nav#headNav a#headNavA:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavA:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavB:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavB:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavC:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavC:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavD:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavD:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}

body section#contact h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.55);
}

body section#contact h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 4px 6px 5px rgba(0, 0, 0, 0.55);
}


body section#contact div#socialContainer {
    width: 100%;
    height: 50px;
    margin-top: 5%;
    display: flex;
    position: absolute;
    justify-content: center;
}

body section#contact div#socialContainer div.socials {
    width: 60px;
    height: 60px;
    position: relative;
    border: 2px solid white;
    margin-left: 5%;
    margin-right: 5%;
}

body section#contact div#socialContainer div.socials:hover {
    transform: scale(1.25);
    transition: 0.25s;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.65);
    border-radius: 25%;
}


body section#contact div#socialContainer div#linkedIn a img#linkedInLogo {
    width: 100%;
    height: 100%;
}

body section#contact div#socialContainer div#linkedIn a img#linkedInLogo:hover {
    border-radius: 25%;
    transition: 0.25s;
}

body section#contact div#socialContainer div#gitHub a img#gitHubLogo {
    width: 100%;
    height: 100%;
}

body section#contact div#socialContainer div#gitHub a img#gitHubLogo:hover {
    border-radius: 25%;
    transition: 0.25s;
}

body section#contact div#socialContainer div#youTube a img#youTubeLogo {
    width: 100%;
    height: 100%;
}

body section#contact div#socialContainer div#youTube a img#youTubeLogo:hover {
    border-radius: 25%;
    transition: 0.25s;
}