/* Body background-color should be light-ish gray to contrast from the headbar */

body {
    background-color: slategrey;
    margin: 0;
    padding: 0;
}

/* HEADBAR AND IT'S CONTENTS  */

div#headbar {
    background-color: black;
    width: 100%;
    height: 115px;
    text-align: center;
    margin-left: 0px;
}

nav#headNav {
    width: 100%;
    height: 125px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

div#headbar nav#headNav a.navLinks {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}



div#headbar nav#headNav a#headNavA:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavA:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavB:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavB:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavC:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavC:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}



div#headbar nav#headNav a#headNavD:hover {
    color: rgb(59, 206, 255);
    top: 23%;
    text-decoration: underline;
    transition: .5s;
}

div#headbar nav#headNav a#headNavD:not(:hover) {
    color: white;
    top: 30%;
    text-decoration: none;
    transition: .5s;
}   

/* TITLE */

body h1#title {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* HOME PAGE IMAGE WITH IMAGE TEXT AND CAPTION UNDERNEATH */

body div#image {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    border: 2px solid white;
}

body div#image img#profilePicture {
    display: block;
    width: 100%;
}

body div#image div#imageTextContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7) 87%);
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0;
}

body div#image div#imageTextContainer p#imageText {
    margin: 24%;
}

body div#image div#imageTextContainer:hover {
    opacity: 1;
    transition: 1s;
}

body div#image div#imageTextContainer:not(:hover) {
    opacity: 0;
    transition: 1s;
}

body section#description div#image div#imageTextContainer p#imageText a#projects {
    color: white;
    text-decoration: none;
}

body section#description div#image div#imageTextContainer p#imageText a#projects:hover {
    text-decoration: underline;
    transition: 1s;
}

body section div figcaption {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}